*{
    margin: 0px;
    padding: 0px;
    /* background-color: #f1f1f1; */
}

.container{
    display: flex;
}

#heading{
    font-size: 40px;
    background-color: black;
    color: #ffc107;
}

.navbar{
    /* background-color: #E1DCDC; */
    width:20%;
    height: 650px;
    border: 3px solid  rgb(136, 136, 136);
    /* background-color: black; */
    /* color: white; */

    overflow: hidden;

}

.navbar li{
    /* row-gap: 50px; */
    /* padding-top: 25px; */
    /* margin-top: 10px; */
        /* padding-bottom: 20px; */
        width: 100%;
        padding: 10% 0% 10% 0%;
        /* height: 100%; */
        font-weight: 700;
        margin: auto;
        color: black;
        text-align: center;
        border: 1px solid  rgb(197, 197, 197);
}

.navbar li:hover{
    /* background-color: #ffc107; */
    transition: all .2s ease;
    color: black;
    
    background-color: rgb(214, 214, 214);
    border-left: 5px solid #ffc107;
}
.lin {
    text-decoration: none;
    /* color: black; */
    font-size: 25px;
    /* background-color: black;  */
     color: black;
}

/* All Product  */

#btn{
  border: 0px;
  background-color: green;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
#btn1{
  border: 0px;
  background-color: #ff7b00;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

#btn2{
  border: 0px;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: 500;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}



/* add To product Page  */

.productcontainer{
    padding-left: 50px;
    font-size: 20px;
    /* margin: 20px; */
    padding-top: 50px;
    /* background-color: #4d4d4d; */
  /* margin-top: 50px; */
}
.productcontainer input{
    width: 500px;
    margin-left : 50px;

  /* margin-top: 50px; */
}

#Categorie-select{
    width: 200px;
    font-size: 15px;
    margin: 20px;
}

#size{
    font-size: 15px;
    margin-left: 370px;
    margin-top: -18px;
}
#size select{
    /* font-size: 18px; */
    margin-left: 30px;
}


#addbtn{
    width: 500px;
    height: 40px;
    margin-left: 150px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 80%;
    background-color: black;
    border: 0px;
    color: white;
    margin-bottom: 100px;
}

#addbtn:hover{
    background-color: rgb(41, 41, 41);
    
}

#addbtncoupon{
    width: 500px;
    height: 40px;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 15px;
    cursor: pointer;
    border: 0px;
    background-color: green;
    color: white;
}
#addbtncoupon:hover{
    background-color: rgb(4, 70, 24);
  color: white;
}


.imguplod{
    margin: 0;
    padding: 0;
}



/* --------Add----------- */

/* admin.css */

/* Container styles */
#imageFormContainer {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* border: 2px solid red; */
    width: 80%;
    box-shadow: 12px 12px 2px 1px rgba(129, 129, 129, 0.2);
  }
  
  /* File input label styles */
  .labelContainer {
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* File input styles */
  .fileInput {
    display: none;
  }
  
  /* Upload button styles */
  .uploadButton {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 12px 24px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .uploadButton:hover {
    background-color: #267bbf;
  }
  

  #inputbox{
   height: 30px;
   border: none;
   border-bottom:3px solid #000;
   background-color: whitesmoke;
   font-size: 15px;
   
   outline: none;
}

#inputbox:hover{
    cursor: pointer;
    border-bottom:3px solid #ffc107;
  }


  .inputContainer{
    display: flex;
    margin: 10px;
    /* border: 2px solid red; */
    width: 130px;
    margin: auto;
  }
  .labelContainer{
    display: flex;
    width: 500px;
    padding: 2px;
    box-shadow: 5px 0px 5px rgb(97, 97, 97);
    /* border: 2px solid black; */
  }

  .container5{
    display: flex;
  }
  /* Image container styles */
  #imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Uploaded image styles */
  .uploadedImage {
    max-width: 100px;
    height: auto;
    margin: 10px;
    border: 3px solid #3498db;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .uploadedImage:hover {
    transform: scale(1.05);
  }
  
  /* Icon styles
  
/* ------------------- */





/* All orders Page */

.Product-table{
    width: 1000px;
    /* border: 2px solid black; */
    /* margin: auto; */
    padding-left: 50px;
}
.product-head th{
    width: 200px;
    border: 2px solid white;
    background-color: black;
    /* color: #ffc107; */
    color: white;
    font-size: 22px;
    padding: 8px;
    justify-content: space-around;
}

 .product-content td{
    width: 200px;
    height: 40px;
    padding-top: 12px;
    /* background-color: rgb(126, 104, 104); */
    margin: 10px;
    /* border: 2px solid red; */
    text-align: center;
    justify-content: space-around;
    font-weight: 600;
}
 .product-content:nth-child(odd){
    width: 200px;
    background-color: rgb(181, 165, 165);
    margin: 10px;
    text-align: center;
    justify-content: space-around;
}
 .product-content:nth-child(even){
    width: 200px;
    background-color: rgb(251, 246, 246);
    margin: 10px;
    text-align: center;
    justify-content: space-around;
}


.Orderheading{
    padding: 30px;
    margin-left: 3%;

}

